/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.8;
  font-family: 'Roboto', sans-serif;
  font-weight: 500
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

svg {
  width: 60%;
  margin: 0 auto;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

textarea,
select,
input,
button {
  outline: none;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
body,
html {
  height: 100%;
}

body {
  height: 100%;
  background: #feffff;
  display: none;
}

section {
  width: 100%;
}

.container {
  width: 80%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto)
}

.container-fluid {
  width: 100%;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-gap: 15px;
  grid-auto-rows: minmax(100px, auto)
}

.filled {
  height: 100%;
}

.h-90 {
  height: 90%;
}

.w-100 {
  width: 100% !important;
}

.v-center {
  display: flex;
  align-items: center;
}

.flex-bottom {
  display: flex;
  align-items: flex-end;
}

.col-md-12 {
  grid-column: span 12;
}

.col-md-11 {
  grid-column: span 11;
}

.col-md-10 {
  grid-column: span 10;
}

.col-md-9 {
  grid-column: span 9;
}

.col-md-8 {
  grid-column: span 8;
}

.col-md-7 {
  grid-column: span 7;
}

.col-md-6 {
  grid-column: span 6;
}

.col-md-5 {
  grid-column: span 5;
}

.col-md-4 {
  grid-column: span 4;
}

.col-md-3 {
  grid-column: span 3;
}

.col-md-2 {
  grid-column: span 2;
}

.col-md-1 {
  grid-column: span 1;
}

.fixed-bottom {
  position: fixed;
  width: 100%;
  bottom: 0;
}

.hero {
  height: 100vh;
  position: relative;
}

.project-hero {
  color: #feffff;
  background: #333;
}

.hero-bg {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  opacity: 0.5;
}

.hero .site-title {
  margin-bottom: 0;
}

.hero .hero-intro {
  margin-top: 5px;
  font-size: 1.5em;
  font-weight: 400;
}

.hero .project-title {
  font-size: 3em;
  line-height: 1.2
}

.hero .project-intro {
  font-size: 1em;
}

.hero-content {
  z-index: 2;
}

.hero .fun-fact {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  border-radius: 3px;
  padding: 0 5px;
  cursor: pointer;
  opacity: 0;
}

.hero .fun-fact .fun-fact-icon {
  margin-right: 15px;
}

.hero .fun-fact p {
  font-size: 1em;
}

.project {
  height: 80vh;
  margin-bottom: 20vh;
}

.project h2 {
  margin-bottom: 0;
}

.project p {
  margin-top: 5px;
}

.project .preview-image {
  height: 100%;
  overflow: hidden;
  position: relative;
  opacity: 0;
  visibility: hidden;
}

.project img {
  height: 100%;
  opacity: 0;
  visibility: hidden;
}

.project .reveal_block-img {
  width: 100%;
  position: absolute;
  display: block;
  height: 100%;
  background-color: #FFDF00;
}

.project p {
  margin-bottom: 35px;
}

.project a {
  font-size: 1.1em;
  font-weight: 700
}

.contact-form {
  text-align: center;
  border: solid 3px #222;
  padding: 100px 200px;
  min-height: 400px;
}

.contact h3 {
  margin-bottom: 0;
}

.contact-form p {
  margin-top: 5px;
  font-size: 1em;
  margin-bottom: 50px;
}

.response-icon {
  opacity: 0;
  background: green;
  color: #feffff;
  width: 100px;
  height: 100px;
  margin: 0 auto;
  border-radius: 50%;
  justify-content: center;
  font-size: 40px;
}

.inline-contact {
  display: none;
}

.inline-contact h4 {
  opacity: 0;
}

.inline-contact input {
  border: none;
  border-bottom: solid 3px #999;
  padding: 0 5px;
  transition: border-bottom ease-in-out 0.15s;
}

.inline-contact input:focus {
  border-bottom: solid 3px #222;
}

.inline-contact button {
  display: block;
  text-align: center;
  margin: 15px auto;
  width: 50%;
  opacity: 0;
}

#contactMessage {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  border: solid 3px #222;
  font-size: 1.3em;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.message-tools {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: absolute;
  bottom: 50px;
  right: 25px;
  height: 50px;
}

.send-btn {
  opacity: 0;
  display: none;
}

footer,
.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
  padding: 50px;
}

footer .social-media-list {
  width: 25%;
}

footer .social-links {
  list-style: none;
  padding-left: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

footer .social-links a {
  position: relative;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: rgb(17, 17, 17);
}

.about-me {
  opacity: 0;
  background: #222;
  min-height: 100vh;
  width: 100%;
  position: absolute;
  z-index: 10;
}

.type-intro {
  height: 80vh;
}

.type-intro h2 {
  color: #feffff;
  margin: 0;
  white-space: pre;
}

.type-intro h1,
  {
  color: #feffff;
  margin: 0;
}

.bio {
  position: relative;
  opacity: 0;
  margin-top: 50px;
  color: #feffff79;
  width: 100%;
}

.bio h1,
h3 {
  color: #feffff;
  margin: 0;
}

.contact-title {
  color: #222;
}

.close-about-us {
  cursor: pointer;
  position: absolute;
  top: 0;
  right: 0;
  font-size: 30px;
}

.about-description {
  width: 45%;
  font-size: 1em;
  margin-bottom: 80px;
}

.about-details p {
  font-size: 1em;
}

.bio ul {
  padding: 0;
  list-style: none;
}

/* ==========================================================================
   QR Landing Page Page
   ========================================================================== */

.social {
  margin: 0 auto;
  width: 25%;
}

.social .social-list {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around
}

/* ==========================================================================
   Project Details Page
   ========================================================================== */

.project-details {
  margin: 100px 0;
}

.article-video {
  width: 80%;
  margin: 0 auto
}

.project-details video {
  max-width: 100%;
  margin: 0 auto
}

.project-details h2 {
  margin-bottom: 0;
}

.project-details .sub-header {
  margin-bottom: 50px;
  margin-top: 0;
}

.carousel-cell {
  margin-right: 20px;
  overflow: hidden;
}

.carousel-cell img {
  display: block;
  height: 200px;
}

@media screen and (min-width: 768px) {
  .carousel-cell img {
    height: 400px;
  }
}

/* ==========================================================================
   Text Styles
   ========================================================================== */

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700
}

h1 {
  font-size: 3.5em;
}

h2 {
  font-size: 2.5em;
}

h3 {
  font-size: 2em;
}

h4 {
  font-size: 1.5em;
}

h5 {
  font-size: 1.3em
}

a {
  position: relative;
  cursor: pointer;
  color: #222;
  text-decoration: none;
  font-size: 1.1em;
  font-family: 'Libre Baskerville', serif;
}

a:focus {
  color: #222
}

a:before {
  content: "";
  position: absolute;
  background-color: #FFDF00;
  z-index: -1;
  width: 120%;
  height: 10px;
  bottom: 0;
  left: -10%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

a:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

p {
  font-weight: 400;
  font-size: 1.2em
}

.image-responsive {
  max-width: 100%
}

.text-center {
  text-align: center;
}

.text-left {
  text-align: left;
}

.text-muted {
  color: #999;
  font-family: monospace;
}

.sub-header {
  margin-top: 0%;
}

.heart {
  color: rgb(243, 36, 36);
  font-size: 1.3em;
  -webkit-animation: breathing 0.5s ease-out infinite normal;
  animation: breathing 0.5s ease-out infinite normal;
}

/* ==========================================================================
   Colors classes
   ========================================================================== */

@-webkit-keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    transform: scale(0.9);
  }
}

@keyframes breathing {
  0% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  25% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  60% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }

  100% {
    -webkit-transform: scale(0.9);
    -ms-transform: scale(0.9);
    transform: scale(0.9);
  }
}

/* ==========================================================================
   Button classes
   ========================================================================== */

button,
.btn {
  border: none;
  padding: 25px 50px;
  cursor: pointer;
  box-shadow: 0 7px 14px rgba(50, 50, 93, .1), 0 3px 6px rgba(0, 0, 0, .08);
  transition: all ease-in-out 0.15s;
}

.btn::before {
  display: none !important;
}

.btn-black {
  background: #222;
  color: #feffff
}

.btn-black:hover {
  background: #feffff;
  color: #222
}

.btn-fancy {
  font-family: 'Libre Baskerville', serif;
  font-weight: 700
}

.btn-round {
  display: block;
  font-size: 1.5em;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  padding: 0;
}

.input-error {
  border-bottom-color: rgb(226, 59, 59) !important;
  color: rgb(226, 59, 59) !important;
}

/* ==========================================================================
   Spacing classes
   ========================================================================== */

.mb-25 {
  margin-bottom: 25px
}

.mb-50 {
  margin-bottom: 50px
}

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
  white-space: nowrap;
  /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
  white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
  visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

.mobile-only {
  display: none;
}

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
(-webkit-min-device-pixel-ratio: 1.25),
(min-resolution: 1.25dppx),
(min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {

  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " ("attr(href) ")";
  }

  abbr[title]:after {
    content: " ("attr(title) ")";
  }

  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }

  pre {
    white-space: pre-wrap !important;
  }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

  thead {
    display: table-header-group;
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }
}