.navbar {
  color: rgb(17, 17, 17);
  width: 100%;
  z-index: 3;
  transition: all ease 0.2s;
  position: absolute;
}

.nav-light .nav-brand-type {
  color: #feffff
}

.nav-light .nav-link {
  color: #feffff
}

.nav-container {
  width: 80%;
  color: rgb(17, 17, 17);
  margin: 0 auto;
  padding: 50px 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  transition: all ease 0.2s;
}

.nav-brand-type {
  font-family: 'Libre Baskerville', serif;
  color: rgb(17, 17, 17);
  font-size: 1.6em;
  font-weight: 700;
  text-decoration: none;
}

.nav-menu {
  list-style: none;
  padding: 0;
}

.nav-item {
  display: inline-block;
  margin: 0 50px;
}

.nav-link {
  position: relative;
  font-family: 'Roboto', sans-serif;
  text-decoration: none;
  color: rgb(17, 17, 17);
}

.nav-link:before {
  content: "";
  position: absolute;
  background-color: #FFDF00;
  z-index: -1;
  width: 120%;
  height: 10px;
  bottom: 0;
  left: -10%;
  visibility: hidden;
  -webkit-transform: scaleX(0);
  transform: scaleX(0);
  -webkit-transition: all 0.3s ease-in-out 0s;
  transition: all 0.3s ease-in-out 0s;
}

.nav-link:hover:before {
  visibility: visible;
  -webkit-transform: scaleX(1);
  transform: scaleX(1);
}

.mobile-control {
  background: none;
  border: none;
  font-size: 30px;
  padding: 0;
  box-shadow: none;
}

@media all and (max-width: 1690px) {}

@media all and (max-width: 1280px) {
  .nav-item {
    display: inline-block;
    margin: 0 15px;
  }
}

@media all and (max-width: 980px) {}

@media all and (max-width: 769px) {
  .nav-container {
    padding: 15px 0;
    display: block;
    width: 100%;
    margin: 0;
  }

  .mobile-only {
    display: block;
  }

  .nav-menu-container {
    display: none;
  }

  .nav-item {
    display: block;
    width: 100%;
    margin: 0;
    padding: 15px 0;
    text-align: center;
    background: white;
    border-bottom: solid #eee 1px;
  }

  .nav-menu {
    margin-top: 0;
  }

  .nav-brand-container {
    display: flex;
    padding: 0 25px;
    justify-content: space-between;
  }
}

@media all and (max-width: 480px) {}
